
body {
  font-family: 'Montserrat',sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f5f7fa;




}


#blue {
  width:100%;
  background-color: blue;
  opacity: 0;
}

.navbar {
  width: 100%;
  background-color: #0c62fb;
  padding: 10px 0;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}
.red {
 background-color:#0c62fb;
    width: 100%;
 min-height:50px;
 padding: 10px 0;
 display:flex;
 box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

 align-items:center;
 flex-wrap: wrap;
 justify-content:space-around;
 color:white;
 margin:20px 0;
}


.white {
      background-color: white;
    max-width: 100%;
    min-height: 50px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    margin: 20px 0;
}

.white i {
  color:black;
}
.white h1 {
  color:black;
  font-weight: bold;
}

label {
  font-weight: bold;
}


.marker {
background-color:white;
border:none;
padding:10px 20px;
font-weight: bold;

}

.marker:hover {
  background-color: #0c62fb;
  color: white;
  font-weight: bold;
  transition: 0.5s linear;
}
.marker h1 {}

.marks {
border: 2px solid #0c62fb;
padding:10px 20px;
color: black;
background-color: transparent;
box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

font-weight: bold;

}


.white {
      background-color: white;
    max-width: 100%;
    min-height: 50px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    margin: 20px 0;
}

.white i {
  color:black;
}
.white h1 {
  color:black;
  font-weight: bold;
}
.bs {
  width:100%;
  min-height:400px;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  
  flex-direction:column;
}

input {
width:300px;
min-height:50px;
border:none;
background-color:white;
margin:20px 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);



}

.btn {
  width:10rem;
  min-height:40px;
  background-color:#0c62fb;
  color:white;
  border:none;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;
  margin: 30px 0;
}

h1 {
color: white;
    font-size: 15px;
    font-family: 'Montserrat',sans-serif;
    margin: 0 20px;
    font-weight: bold;
}

h2 {
color:red;

}


h3 {
  color: black;
  font-weight: normal;
  padding: 10px 0;
  font-family: 'Lato',sans-serif;
}

img {
  width: 7%;

  margin: 20px 0;
}

.conta {
  width:100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width:100%;
  min-height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


p {
  font-size: 14px;
  margin: 20px 0;
}

.bren {
}